<%= link_to 'Back to paper', paper_questions_path(@question.paper.id), class: 'btn btn-sm btn-primary mt-1' %>
<h2>Question</h2>
<%= render "shared/question", question: @question %>
<h2>
  Answers
  <%= link_to icon('fas', 'plus'), '#newAnswer', class: 'btn btn-primary', 'data-toggle' => 'modal' %>
</h2>


<% @answers.each do |answer| %>
  <%= render "shared/answer", answer: answer, current_user: @current_user %>
<% end %>


<div class="modal fade" id="newAnswer" tabindex="-1" role="dialog" aria-labelledby="newAnswerModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newAnswerModalLabel">New Answer for Question <%= @question.number %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@answer, url: { action: 'create' }) do |a| %>
        <div class="modal-body">
          <div class="form-group">
            <%= a.label :content %>
            <%= a.text_area :content, autofocus: true, class: 'form-control', rows: 3 %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= a.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>