<h4 class="mt-3"><%=@university.name%></h4>
<div class="input-group mt-3">
    <%= form_tag(university_courses_url(@university.id), method: "get") do %>
        <h6><%= label_tag(:code, "Course search:") %></h6>
     	  
        <%= text_field_tag (:code), "", placeholder: "e.g. 'CS1101S'", class: 'form-control' %>
        <div class="mt-3"><%= submit_tag "Search", class: 'btn btn-primary' %>
        <%= link_to "+", "#createCourse", class: "btn btn-primary", "data-toggle" => "modal" %></div>
     	
    <% end %>
</div>


<div class="modal fade" id="createCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                
        <%= form_for Course.new, url: {action: "create"} do |f| %>
          <%= f.hidden_field :university_id, :value => @university.id, class: 'form-control' %>
          <%= label_tag(:code, "Code:") %>
          <%= f.text_field :code,  class: 'form-control'%>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
          <%= f.submit "Save", class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
