</p>

<div class="input-group">

  <%= form_tag("/courses", method: "get") do %>
      <%= label_tag(:code, "Type in course name:") %>
      <%= text_field_tag (:code), "e.g. 'CS1101S'", class: 'form-control' %></p>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: 'btn btn-primary' %>
      </span>
      <span class="input-group-btn">
        <%= submit_tag "+", class: 'btn btn-primary' %>
      </span>
  <% end %>
</div>